<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحة بسيطة</title>
    <link rel="stylesheet" href="/static/css/about.css">
</head>
<body>
    <div class="container">
        <h1>مرحبًا بك في موقعي</h1>
        <p>هذه صفحة HTML بسيطة مع تنسيق CSS.</p>
        <form action="{{ url_for('reg') }}" method="get">
            <button type="submit">اذهب إلى صفحة "من نحن"</button>
        </form>
        
    </div>
</body>
</html>
