<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Responsive Card Slider</title>
  <!-- Swiper CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
  <!-- CSS -->
  <link rel="stylesheet" href="/static/css/doctors.css">
  <!-- Navbar CSS -->
  
</head>
<body>
  <!-- Navbar -->
  <nav class="navbar">
    <div class="logo">
      <img src="/static/css/logo.png" alt="Gleamer AI">
      <span>Gleamer AI</span>
    </div>
    <div class="nav-links">
      <a href="/" class="active">Home</a>
      <a href="/about">about</a>
      <a href="/doctors">Doctors</a>
      <a href="/how-it-work">how it work</a>
      <a href="/contact">contact</a>
    </div>
    <button class="sign-in">sign in</button>
  </nav>


  <div class="paragraph">
    <main class="hero">
        <div class="hero-content">
            <h1>Find Out <span class="highlight">How Healthy</span><br><span class="highlight">Your Bones Are</span></h1>
            <p>Here you can find out if your bones are fine or not. If not, you can know the type of damage and its exact location, and you can also get a proposal for treatment. All you have to do is enter an x-ray of the bone you want to ensure its safety</p>
           
        </div>
        
    </main>
  </div>

  <!-- Slide Container -->
  <div class="slide-container swiper">
    <div class="slide-content">
      <div class="card-wrapper swiper-wrapper">
        <!-- Cards here -->
        <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>
              <div class="card-image">
                <img src="/static/css/logo.png" alt="" class="card-img">
              </div>
            </div>
            <div class="card-content">
              <h2 class="name">David Dell</h2>
              <p class="description">The lorem text the section that contains header with having open functionality. Lorem
                dolor sit amet consectetur adipisicing elit.</p>
              <button class="button">book now</button>
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>
              <div class="card-image">
                <img src="/static/css/logo.png" alt="" class="card-img">
              </div>
            </div>
            <div class="card-content">
              <h2 class="name">David Dell</h2>
              <p class="description">The lorem text the section that contains header with having open functionality. Lorem
                dolor sit amet consectetur adipisicing elit.</p>
              <button class="button">book now</button>
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>
              <div class="card-image">
                <img src="/static/css/logo.png" alt="" class="card-img">
              </div>
            </div>
            <div class="card-content">
              <h2 class="name">David Dell</h2>
              <p class="description">The lorem text the section that contains header with having open functionality. Lorem
                dolor sit amet consectetur adipisicing elit.</p>
              <button class="button">book now</button>
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>
              <div class="card-image">
                <img src="/static/css/logo.png" alt="" class="card-img">
              </div>
            </div>
            <div class="card-content">
              <h2 class="name">David Dell</h2>
              <p class="description">The lorem text the section that contains header with having open functionality. Lorem
                dolor sit amet consectetur adipisicing elit.</p>
              <button class="button">book now</button>
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>
              <div class="card-image">
                <img src="/static/css/logo.png" alt="" class="card-img">
              </div>
            </div>
            <div class="card-content">
              <h2 class="name">David Dell</h2>
              <p class="description">The lorem text the section that contains header with having open functionality. Lorem
                dolor sit amet consectetur adipisicing elit.</p>
              <button class="button">book now</button>
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>
              <div class="card-image">
                <img src="/static/css/logo.png" alt="" class="card-img">
              </div>
            </div>
            <div class="card-content">
              <h2 class="name">David Dell</h2>
              <p class="description">The lorem text the section that contains header with having open functionality. Lorem
                dolor sit amet consectetur adipisicing elit.</p>
              <button class="button">book now</button>
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>
              <div class="card-image">
                <img src="/static/css/logo.png" alt="" class="card-img">
              </div>
            </div>
            <div class="card-content">
              <h2 class="name">David Dell</h2>
              <p class="description">The lorem text the section that contains header with having open functionality. Lorem
                dolor sit amet consectetur adipisicing elit.</p>
              <button class="button">book now</button>
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>
              <div class="card-image">
                <img src="/static/css/logo.png"alt="" class="card-img">
              </div>
            </div>
            <div class="card-content">
              <h2 class="name">David Dell</h2>
              <p class="description">The lorem text the section that contains header with having open functionality. Lorem
                dolor sit amet consectetur adipisicing elit.</p>
              <button class="button">book now</button>
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>
              <div class="card-image">
                <img src="/static/css/logo.png" alt="" class="card-img">
              </div>
            </div>
            <div class="card-content">
              <h2 class="name">David Dell</h2>
              <p class="description">The lorem text the section that contains header with having open functionality. Lorem
                dolor sit amet consectetur adipisicing elit.</p>
              <button class="button">book now</button>
            </div>
          </div>
      </div>
    </div>
    <div class="swiper-button-next swiper-navBtn"></div>
    <div class="swiper-button-prev swiper-navBtn"></div>
    <div class="swiper-pagination"></div>
  </div>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <!-- JavaScript -->
  <script src="/static/js/doctors.js"></script>
</body>
</html>