<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Responsive Card Slider</title>
  <!-- Swiper CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
  <!-- CSS -->
  <link rel="stylesheet" href="/static/css/doctors.css">
  <!-- Navbar CSS -->
  
</head>
<body>
  <!-- Navbar -->
  <nav class="navbar">
    <div class="logo">
      <img src="/static/css/logo.png" alt="Gleamer AI">
      <span>Gleamer AI</span>
    </div>
    <div class="nav-links">
      <a href="/" class="active">Home</a>
      <a href="/about">about</a>
      <a href="/doctors">Doctors</a>
      <a href="/how-it-work">how it work</a>
      <a href="/contact">contact</a>
    </div>
    <button class="sign-in">sign in</button>
  </nav>


  <div class="paragraph">
    <main class="hero">
        <div class="hero-content">
            <h1>Find Out <span class="highlight">How Healthy</span><br><span class="highlight">Your Bones Are</span></h1>
            <p>Here you can find out if your bones are fine or not. If not, you can know the type of damage and its exact location, and you can also get a proposal for treatment. All you have to do is enter an x-ray of the bone you want to ensure its safety</p>
           
        </div>
        
    </main>
  </div>

  <!-- Slide Container -->
  <div class="slide-container swiper">
    <div class="slide-content">
      <div class="card-wrapper swiper-wrapper">
        <!-- Cards here -->
        <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>
              <div class="card-image">
                <img src="https://cdn-dr-images.vezeeta.com/Assets/Images/SelfServiceDoctors/ENT26f0c7c2491ca759/Profile/150/doctor-moustafa--maher-orthopedics_20240921230303830.jpg" class="card-img">

              </div>
            </div>
            <div class="card-content">
              <h2 class="name">د. مصطفى علاء ماهر</h2>
              <pre class="description">أخصائي جراحة العظام 
                دكتوراه وماجستير جراحة العظام
                الزمالك :شارع محمد مظهر47
                السعر:600ج.م
              </pre>
              <button class="button">book now</button>
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>
              <div class="card-image">
                <img src="https://cdn-dr-images.vezeeta.com/Assets/Images/SelfServiceDoctors/ENTf0c887f098816dbc/Profile/150/tarek-torky-orthopedics_20240203110742629.jpg" class="card-img">

              </div>
            </div>
            <div class="card-content">
              <h2 class="name">د. طارق التركي</h2>
              <pre class="description">أخصائي جراحة العظام 
                دكتوراه وماجستير جراحة العظام
                الزمالك :شارع محمد مظهر47
                السعر:600ج.م
              </pre>
              <button class="button">book now</button>
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>
              <div class="card-image">
                 <img src="https://cdn-dr-images.vezeeta.com/Assets/Images/SelfServiceDoctors/ENT3f9bf2/Profile/150/doctor-ali-osama-dawoud-orthopedics_20200819133647513.jpg" class="card-img" >

              </div>
            </div>
            <div class="card-content">
              <h2 class="name"> د.إبراهيم مندور</h2>
              <pre class="description">أخصائي جراحة العظام 
                دكتوراه وماجستير جراحة العظام
                الزمالك :شارع محمد مظهر47
                السعر:600ج.م
              </pre>
              <button class="button">book now</button>
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>
              <div class="card-image">
                <img src="https://cdn-dr-images.vezeeta.com/Assets/Images/SelfServiceDoctors/ENT2b6a851650687634/Profile/150/doctor-gamal-hosny-abdelmaksoud--orthopedics_20210905141037922.jpg" alt="" class="card-img">
              </div>
            </div>
            <div class="card-content">
              <h2 class="name">د.جمال حسني عبد المقصود</h2>
              <pre class="description">أخصائي جراحة العظام 
                دكتوراه وماجستير جراحة العظام
                الزمالك :شارع محمد مظهر47
                السعر:600ج.م
              </pre>
              <button class="button">book now</button>
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>
              <div class="card-image">
                <img src="https://cdn-dr-images.vezeeta.com/Assets/Images/SelfServiceDoctors/ENT42ae22/Profile/150/clinic-elite-orthopedic--dr-mohamed-khairy-el-gamal--orthopedics_20200407113304434.jpg " alt="" class="card-img">
              </div>
            </div>
            <div class="card-content">
              <h2 class="name">د.أحمد الغندور </h2>
              <pre class="description">أخصائي جراحة العظام 
                دكتوراه وماجستير جراحة العظام
                الزمالك :شارع محمد مظهر47
                السعر:600ج.م
              </pre>
              <button class="button">book now</button>
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>
              <div class="card-image">
                <img src="https://cdn-dr-images.vezeeta.com/Assets/Images/SelfServiceDoctors/ENT75d09c/Profile/150/doctor-ahmed-gazar-orthopedics_20240531175426255.jpg" alt="" class="card-img">
              </div>
            </div>
            <div class="card-content">
              <h2 class="name">د.احمد جزر</h2>
              <pre class="description">أخصائي جراحة العظام 
                دكتوراه وماجستير جراحة العظام
                الزمالك :شارع محمد مظهر47
                السعر:600ج.م
              </pre>
              <button class="button">book now</button>
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>
              <div class="card-image">
                <img src="https://cdn-dr-images.vezeeta.com/Assets/Images/SelfServiceDoctors/ENTfd73b1bccdc1712b/Profile/150/ziyad-el-amir-orthopedics_20230625201430590.jpg"  alt="" class="card-img">
              </div>
            </div>
            <div class="card-content">
              <h2 class="name">د. زياد الأمير</h2>
              <pre class="description">أخصائي جراحة العظام 
                دكتوراه وماجستير جراحة العظام
                الزمالك :شارع محمد مظهر47
                السعر:600ج.م
              </pre>
              <button class="button">book now</button>
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>
              <div class="card-image">
                <img src="https://cdn-dr-images.vezeeta.com/Assets/Images/SelfServiceDoctors/ENT5c77d332c85044a1/Profile/150/doctor-ayman-eltanany-orthopedics_20250120113328284.jpg"alt="" class="card-img">
              </div>
            </div>
            <div class="card-content">
              <h2 class="name">د.ايمن الطناني</h2>
              <pre class="description">أخصائي جراحة العظام 
                دكتوراه وماجستير جراحة العظام
                الزمالك :شارع محمد مظهر47
                السعر:600ج.م
              </pre>
              <button class="button">book now</button>
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>
              <div class="card-image">
                <img src="https://cdn-dr-images.vezeeta.com/Assets/Images/SelfServiceDoctors/ENT7647548630d4ac6b/Profile/150/specialist-ahmad-arfa-orthopedics_20250222133856206.jpg" alt="" class="card-img">
              </div>
            </div>
            <div class="card-content">
              <h2 class="name">د.أحمد عرفة</h2>
              <pre class="description">أخصائي جراحة العظام 
                دكتوراه وماجستير جراحة العظام
                الزمالك :شارع محمد مظهر47
                السعر:600ج.م
              </pre>
              <button class="button">book now</button>
            </div>
          </div>
      </div>
    </div>
    <div class="swiper-button-next swiper-navBtn"></div>
    <div class="swiper-button-prev swiper-navBtn"></div>
    <div class="swiper-pagination"></div>
  </div>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <!-- JavaScript -->
  <script src="/static/js/doctors.js"></script>
</body>
</html>
